---
import "./styles.css";
import Nav from "./components/nav.tsx";
import Footer from "./components/footer.astro";

import { Button } from "@/components/ui/button";
import { ArrowRightIcon } from "@radix-ui/react-icons";
import { Image } from "astro:assets";
import cta from "./img/index/cta.webp";

const { title, showTitle, desc } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={desc} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title} | BuildingBloCS</title>
	</head>
	<body class="bg-slate-950">
		<Nav client:load />
		{showTitle && <h1 class="text-center mt-10 mb-5 mx-5">{title}</h1>}
		<slot />
		<div class="mx-auto max-w-7xl py-12 sm:px-6 lg:px-8">
			<div class="relative isolate overflow-hidden bg-gray-900 dark:bg-slate-900 px-6 pt-16 sm:pt-32 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 xl:gap-x-20 lg:px-24 lg:pt-0">
				<svg viewBox="0 0 1024 1024"
					class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
					aria-hidden="true">
					<circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
						fill-opacity="0.7" />
					<defs>
						<radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
							<stop stop-color="#7775D6" />
							<stop offset="1" stop-color="#E935C1" />
						</radialGradient>
					</defs>
				</svg>
				<div class="mx-auto max-w-xs text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
					<h2>Join Us</h2>
					<p class="mt-3">for the December Conference to learn coding, the best way.</p>
					<div class="mt-6 flex items-center justify-center gap-x-6 lg:justify-start">
						<a href="/events/december">
							<Button>
								Learn more
								<ArrowRightIcon className="w-4 ml-1" />
							</Button>
						</a>
					</div>
				</div>
				<div class="pt-7">
					<div class="lg:absolute bg-white/5 ring-1 lg:rounded-l-lg rounded-t-lg ring-white/10 lg:w-[46rem]">
						<Image alt="A lady with a FossAsia lanyard holding a laptop in a auditorium" class="lg:rounded-l-lg rounded-t-lg" src={cta} loading=eager />
					</div>
				</div>
			</div>
		</div> 
		<Footer />
	</body>
</html>
